/dist/
src/sistema_amortización/Sistema_AmortizacionKate.java
build/classes/Modelo/SistemaAmortizacion/SistemaAmortizacion.class
build/classes/Controlador/ControladorSistemaAmortizacion.class
build/classes/Controlador/ControladorSistemaAmortizacion.class